@font-face {
  font-family: 'stxingkairegular';
  src: url('/iconfont/webfont.eot');
  src: url('/iconfont/webfont.eot?#iefix') format('embedded-opentype'),
          url('/iconfont/webfont.woff2') format('woff2'),
          url('/iconfont/webfont.woff') format('woff'),
          url('/iconfont/webfont.ttf') format('truetype'),
          url('/iconfont/webfont.svg#stxingkairegular') format('svg');
  font-weight: normal;
  font-style: normal;

}
.hero h1 {
  font-family: 'KaiTi',serif !important;
  font-size: 4rem !important;
  color: #cacbce;
}
.description {
  color: #0c0d0d;
  font-size: 2rem;
  font-family: 'Segoe Script';
}
.sub-sidebar-wrapper li a {
  color: #666666 !important;
}
.sub-sidebar-wrapper li.active a {
  color: #242424 !important;
}
