.hero h1 {
  font-family: 'STXingkai';
  font-size: 4rem !important;
  color: #cacbce;
}
.description {
  color: #0c0d0d;
  font-size: 2rem;
  font-family: 'Segoe Script';
}
.sub-sidebar-wrapper li a {
  color: #666666 !important;
}
.sub-sidebar-wrapper li.active a {
  color: #242424 !important;
}
